/* ul > li:not(:nth-last-child(20)) {
  display: none;
} */

/* .ListOne,
.ListTwo,
.ListThree {
  display: none;
} */

.List {
  display: none;
}
img {
  padding: 0 5px;
}
img:hover + .List {
  /* border-radius: 50%; */
  position: relative;
  z-index: 10;
  width: 400px;
  height: 200px;
  display: block;
}
